%h3 Groups

- if current_user.admin?
  = link_to "New Group", new_group_path
  %br
You can only be in one group at a time.
<br><br>
= @users_group
<br><br>
.table.table-striped
  %table
    %th
      Groups
      %tr
        %th Group
        %th Members
        %th Average Points
        %th
    - @groups.map do |group| 
      %tbody
        %tr
          %td= group.name
          %td= group.member_count
          %td= group.average_points
          %td= button_to "Join", { action: "join_group", id: group.id }, method: :post

          