%tr
  %td
    = prediction.match.match_date_time.strftime("%a %e %b %H:%M")
  %td
    = prediction.match.home_team
  %td
    = prediction.home_prediction
  %td
    = prediction.match.away_team
  %td
    = prediction.away_prediction
  %td
    = prediction.first_goalscorer
  - if prediction.match.match_finished?
    %td
      = prediction.match.home_score
    %td
      = prediction.match.away_score
    %td
      = prediction.match.first_goalscorer
    %td
      = prediction.points