= form_for prediction, data: {verb: prediction.id ? :put : :post} do |f| 
  %tr
    = hidden_field_tag 'prediction[match_id]', prediction.match_id
    = hidden_field_tag 'prediction[user_id]',nil,:value => current_user.id
    %td= prediction.match.match_date_time.strftime("%a %e %b %H:%M")
    %td= prediction.match.home_team
    %td= f.text_field :home_prediction, size: 1, class: 'home_box'
    %td vs
    %td= f.text_field :away_prediction, size: 1, class: 'away_box'
    %td= prediction.match.away_team 
    %td= f.text_field :first_goalscorer, class: 'first_goal_box typeahead', autocomplete: "off", id: nil
    %td= f.check_box :double, class: 'double_tick'
    %td= f.submit class: "prediction-submit"
    %td
      %span.fa.fa-check.text-success.success-icon
      %span.fa.fa-times.text-danger.error-icon
      %span.fa.fa-refresh.fa-spin.loading-icon