= form_for :prediction do |f| 
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  Everton
  = f.number_field :home_score, size: 1, as: :string, class: 'home_box'
  vs
  = f.number_field :away_score, size: 1, as: :string, class: 'away_box'
  Liverpool
  %br
  = f.submit
