%html.full{lang: "en"}
  %body
    %nav.navbar.navbar-fixed-bottom.navbar-inverse{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand Football Predictions
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            - if user_signed_in?
              %li
                = link_to('Logout', destroy_user_session_path,  :method=>'delete')
            - else
              %li
                = link_to('Sign in', new_user_session_path)              
            %li
              %a{href: "#services"} Services
            %li
              %a{href: "#contact"} Contact
        / /.navbar-collapse
      / /.container
    .container
      = bootstrap_flash
      .row
        .col-lg-6.col-sm-12
          .intro
            %h1 Football Predictions
            %p Welcome to the world's only game like it. :/
            %p Join in and submit your predictions, you will earn points for guessing the correct scores and goalscorers!
      .row2
        .col-md-3
        .col.md-6
          .sign-up
            %p
              = link_to 'Register with your email', new_user_registration_path 
              or 
              = link_to image_tag('XLfacebook.png'), user_omniauth_authorize_path(:facebook)
            
        .col-md-3