%p
  %strong Match:
  = @match.home_team
  = @match.home_score
  %strong Vs
  = @match.away_team
  = @match.away_score
  = @match.first_goalscorer
  = @match.match_date_time
  = @match.created_at
  = @match.updated_at